<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mystudy.mapper.UserMapper">

    <select id="findAll" resultType="mystudy.po.User">
        select * from tb_user
    </select>

    <select id="queryUserByName" resultType="mystudy.po.User">
        select * from tb_user where userName = #{userName}
    </select>

    <select id="queryUserByNickAndUserId" resultType="mystudy.po.User">
        select * from tb_user where nick=#{nick} and userId=#{userId}
    </select>

    <update id="updateUser" parameterType="mystudy.po.User">
        update tb_user set nick=#{nick}, mood=#{mood}, head=#{head} where userId=#{userId}
    </update>
</mapper>